/* global */

html,
body {
  margin: 0;
  padding: 0;
}
body {
  max-width: 42rem;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 .5rem;
}
h2 {
  font-size: 1.2rem;
}

.icon {
  width: 86px;
  height: 86px;
  margin: 3rem 0 1rem;
}

/* games */
.game-list {
  margin: 2rem 0;
}
.game {
  margin: 0 0 1.5rem;
}

footer {
  margin: 3rem 0 0;
  font-size: 13px;
}
